@import "../../.cache/wal/colors-waybar.css";

* {
    border: none;
    font-family: "Iosevka Nerd Font Propo";
    font-size: 11px;
    font-weight: bold;
}

/* Keyframe animations */
@keyframes urgent-blink {
    0% {
        color: #eb4d4b;
    }
    50% {
        color: #ffffff;
    }
    100% {
        color: #eb4d4b;
    }
}

window#waybar {
    background-color: alpha(@background, 0.889);
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Workspaces */
#workspaces {
    margin-right: 1em;
}

#workspaces button.active {
    color: @color1;
}

#workspaces button.empty {
    opacity: 0.125;
}

#workspaces button.active.empty {
    opacity: 1;
    color: @color1;
}

#workspaces button.urgent {
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.5);
}

/* Modules */
#battery,
#clock {
    margin: 0 1em;
}

#backlight,
#bluetooth,
#cpu,
#memory,
#pulseaudio,
#temperature {
    margin: 0 0.8em;
}

#tray {
    margin-left: 12px;
}

#battery:not(.charging).warning {
    color: #FFA500;
}

#battery:not(.charging).critical {
    color: #FF0000;
}

/* Groups */
#audio,
#expand-tray,
#hardware,
#network {
    margin: 0 1em;
}

/* Custom modules */
#custom-screenrecording-indicator {
    color: #ff0000;
    animation-name: urgent-blink;
    animation-duration: 1s;
    animation-timing-function: steps(18);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#expand-tray {
    margin: 0 1em;
}
