@import "colors.css";

* {
    border: none;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
}

/* Keyframe animations */
@keyframes urgent-blink {
    0% {
        color: #eb4d4b;
    }
    50% {
        color: #ffffff;
    }
    100% {
        color: #eb4d4b;
    }
}

window#waybar {
    background-color: alpha(@background, 0.79);
}

/* Workspaces */
#workspaces {
    margin-right: 1rem;
}

#workspaces button.active {
    color: @color2;
}

#workspaces button.empty.active {
    color: @color1;
    opacity: 1;
}

#workspaces button.empty {
    opacity: 0.2;
}

#workspaces button.urgent {
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 0;
}

/* Modules */
#battery,
#clock {
    margin: 0 0.55rem;
}

#backlight,
#bluetooth,
#cpu,
#memory,
#pulseaudio {
    margin: 0 0.55rem;
}

#tray {
    margin-left: 10px;
}

#bluetooth.connected {
    color: @color1;
}

#battery:not(.charging).warning {
    color: #FFA500;
}

#battery:not(.charging).critical {
    color: #FF0000;
}

#network.disconnected {
    color: @color2;
}

/* Groups */
#audio,
#expand-tray,
#hardware,
#network {
    margin: 0 0.55rem;
}

/* Custom modules */
#custom-screenrecording-indicator {
    color: #ff0000;
    animation-name: urgent-blink;
    animation-duration: 1s;
    animation-timing-function: steps(18);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#expand-tray {
    margin: 0 0.55rem;
}
